build/
.dart_tool/
.idea/
.vscode/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.*
macos/Flutter/ephemeral/
pubspec.lock
.DS_Store
android/.gradle/
android/local.properties
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar
build/
.dart_tool/
.idea/
.vscode/
pubspec.lock
